<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="false">
	<test name="TestEdx">
		<classes>
			<class name="com.sin.scenario.Test002"/>
			<class name="com.sin.scenario.Test003" />
		</classes>
	</test> <!-- Test -->
	<test name="TestCoursera">
		<classes>
			<class name="com.sin.scenario.Test003" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
